greek-nt.xml
*.txt
488.json
*.csv
*.xml
*.html
*.htm
sr/*
b/*
xml/*
.idea/*
.lightning_studio/*
.vscode-server/*
.idea/this_studio.iml
.wget-hsts
.vscode/*
*.zip
.ipynb_checkpoints/
# Ignore split verse .txt files in subfolders (e.g. genesis/1/genesis_1_1.txt)
bible/*/*/*.txt
bible/*/*/*.json

# Ignore loose .txt and .html in book folders (e.g. genesis/*.txt, genesis/*.html)
bible/*/*.txt
bible/*/*.html

# BUT keep the root index
!bible/index.html
_scrap
*.png
excel/
music/
blb_pronunc_hashes.json
music_g/
strongs_p/
blb_pronunc_gk_hashes.json
